
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h5>Assign Roles</h5>
        <span><code>Show</code> of All Resumes Data</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Contact)
                    {
                    <tr>
                        <td scope="row">@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Number</td>
                        <td>@item.Email</td>
                        <td>@item.Message</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
